{% extends 'index_login.html' %}
{% block body %}

<body>
<!--<form id="form1" name="form1" method="post" action="">-->
<!--  <p><a href="/staffreg">Register Staff</a><a href="#"></a></p>-->
<!--  <p><a href="/manage">Manage Staff</a><a href="#"></a> </p>-->
<!--  <p><a href="/assignwork">Assign work to staff</a><a href="#"></a></p>-->
<!--  <p><a href="/enquiry">Check Enquiry</a><a href="#"></a></p>-->
<!--  <p><a href="/report">Check report</a><a href="#"></a></p>-->
<!--</form>-->
</body>
{% endblock %}

